.news-details {
    padding: 20px;
    text-align: center;
    margin-top: 10vh;
  }
  
  .news-articles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .news-article {
    /* width: 30%; */
    /* height: 50vh; */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .news-article:hover {
    transform: translateY(-5px);
  }
  
  .news-image {
    width: 100%;
    height: 300px; /* Adjust height to maintain consistent size */
    object-fit: cover; /* Ensures the image covers the space without distortion */
    border-radius: 8px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-top: 10vh;
  }
  .news-article h3{
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  
  .small-news-heading {
    font-size: 1.25rem;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .small-news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .small-news-box {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .small-news-image {
    width: 100%;
    height: 150px; /* Adjust height */
    object-fit: cover; /* Ensures image fits well */
    border-radius: 8px;
  }
  
  h4 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .news-articles {
      flex-direction: column;
      align-items: center;
    }
  }
  